## Ignore everything by default. Make exceptions for specific files and folders below.
*
!.gitignore

## Track all relevant project files.
!**/README.md
!**/*.stl
!**/preview*.jpg
!**/preview*.png
!**/preview*.webp

## Folders to track.
!airsoft/
!airsoft/Airsoft Blanks Holder
!airsoft/Airsoft Grenade Holder for Kimera Kamikaze XS
!airsoft/FN-BB90 (proxy)
!airsoft/Midcap Unloader for Odin M12 (reupload)

!board games/
!board games/HeroQuest Sleeved-Card Dashboard (remix)/

!home/
!home/20mm Shower Bar Soap Tray (remix)/

!tools/

!electronics/
!electronics/18650 battery TPU cap (reupload)/

!gridfinity/
!gridfinity/Bin 1.1.3 - Plastic Razor Scraper Holder (reupload)
!gridfinity/Bin 1.2.6 - Euro Power Plug Holder (remix)
!gridfinity/Bin 1.4.3 - Deburring Tool Holder (reupload)

!organizer/
!organizer/Mini Paracord Winder (3mm)(remix)
!organizer/Mini Paracord Winder (4mm)(reupload)
!organizer/Multi-cable organizer (proxy)
!organizer/Under-desk headphone hook (reupload)