## Ignore everything by default. Make exceptions for specific files and folders below.
*
!.gitignore

## Track all relevant project files.
!**/README.md
!**/*.stl
!**/preview.*
!model_readme_template.md

## Folders to track.
!models/

!models/home/
!models/home/20mm shower bar soap tray/

!models/tools/
!models/tools/travel toothpaste transfer/