## Ignore everything by default. Make exceptions for specific files and folders below.
*
!.gitignore

## Track all relevant project files.
!**/README.md
!**/*.stl
!**/preview*.jpg
!**/preview*.png
!**/preview*.webp

## Folders to track.
!airsoft/
!airsoft/Airsoft Blanks Holder
!airsoft/Airsoft Grenade Holder for Kimera Kamikaze XS

!board games/
!board games/HeroQuest sleeved-card dashboard (remix)/

!home/
!home/20mm shower bar soap tray/

!tools/
#!tools/travel toothpaste transfer/